body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

fieldset {
    border: none; /* Убираем границу */
    margin-bottom: 20px;
    padding: 20px;
    background: transparent; /* Делаем фон прозрачным, чтобы просвечивал фон body */
}

legend {
    font-weight: bold;
    padding: 0 10px;
    color: var(--tg-theme-buttom-color);
}

label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    /* Фон у label теперь наследуется от body, поэтому его можно убрать */
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2); /* Увеличиваем кнопки выбора */
    cursor: pointer;
}

button {
    background: var(--tg-theme-buttom-text-color);
    color: var(--tg-theme-buttom-color);
    border: 0;
    border-radius: 5px;
    padding: 15px 30px; /* Увеличиваем размеры кнопки */
    font-size: 20px;
    cursor: pointer;
    transition: all 500ms ease;
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}
